{% set domain = env['project'].split(':') %}
{% if domain|length >1 %}
{% set projectName = domain[1] + '.' + domain[0] %}
{% else %}
{% set projectName = domain[0] %}
{% endif %}
resources:
- name: cem-custom-role
  type: gcp-types/iam-v1:projects.roles
  properties:
    parent: projects/{{ env["project"] }}
    roleId: {{ properties["roleId"] }}
    role:
      title: {{ properties["title"] }}
      description: {{ properties["description"] }}
      stage: {{ properties["stage"] }}
      includedPermissions: {{ properties["includedPermissions"] }}
#- type: iam.v1.serviceAccount
- type: gcp-types/iam-v1:projects.serviceAccounts
  name: {{ env['name'] }}
  properties:
    accountId: cyb-{{ properties['accountIdSuffix'] }}
    displayName: {{ properties['displayName'] }}
  metadata:
    dependsOn:
    - cem-custom-role
  accessControl:
    gcpIamPolicy:
      bindings:
      - role: projects/{{ projectName }}/roles/CustomCEMRole
        members:
        - "serviceAccount:cyb-{{ properties['accountIdSuffix'] }}@{{ projectName }}.iam.gserviceaccount.com"
#- type: iam.v1.serviceAccounts.key
- type: gcp-types/iam-v1:projects.serviceAccounts.keys
  name: cem-account-key
  properties:
    parent: $(ref.{{ env['name'] }}.name)
    privateKeyType: TYPE_GOOGLE_CREDENTIALS_FILE

outputs:
  - name: key
    value: $(ref.cem-account-key.privateKeyData)
